@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@if (signInManager.IsSignedIn(User))
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/logo.gif" height="30"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Dati generali </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Dati geografici <i class="fas fa-caret-right"></i></a>
                            <ul class="submenu dropdown-menu">
	                            <li><a class="dropdown-item" asp-controller="Comuni" asp-action="Index">Comuni italiani</a></li>
       		                    <li><a class="dropdown-item" asp-controller="Province" asp-action="Index">Province</a></li>
                                <li><a class="dropdown-item" asp-controller="Regioni" asp-action="Index">Regioni</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" asp-controller="Nazioni" asp-action="Index">Stati esteri</a>
                                
                                    <!-- CODICE PER AGGIUNGERE ALTRI SOTTO MENU'
                                    <ul class="submenu dropdown-menu">
    	                                <li><a class="dropdown-item" href=""> Fourth level 1</a></li>
			                                <li><a class="dropdown-item" href=""> Fourth level 2</a></li>
		                            </ul>
                                    -->

                                </li>
	                        </ul>
                        </li>
       	                <li><a class="dropdown-item" asp-controller="Cap" asp-action="Index">CAP</a></li>
                    </ul>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/privacy">Privacy</a> </li>
            </ul>
            <partial name="_LoginPartial"></partial>
        </div>
    </nav>
}
else
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/logo.gif" height="30"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/privacy">Privacy</a> </li>
            </ul>
            <partial name="_LoginPartial"></partial>
        </div>
    </nav>
}