@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disabilita l'autenticazione a due fattori (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Questa azione disabilita solo 2FA.</strong>
    </p>
    <p>
        La disabilitazione di 2FA non modifica le chiavi utilizzate nelle app di autenticazione. Se desideri modificare la chiave
        utilizzata in un'app di autenticazione, devi <a asp-page="./ResetAuthenticator">reimpostare le chiavi di autenticazione.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Disabilita 2FA</button>
    </form>
</div>
