@model EnteCreateInputModel
<h1>Configurazione ente</h1>
<form method="post">
    <div class="row">
        <div class="col-md-8">
            <input type="text" asp-for="Comune" class="form-control form-control-lg" placeholder="Inserisci il nome del comune da gestire">
            <span asp-validation-for="Comune"></span>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-rocket"></i> Crea comune</button>
        </div>
    </div>
</form>