<h1>Ciao @User.FindFirst("Nome").Value</h1>
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="~/profilo.jpg" class="card-img-top" alt="Profilo utente">
            <div class="card-body">
                <h5 class="card-title">Impostazioni account</h5>
                <p class="card-text">Accedi alle informazioni del tuo account per modificarne le impostazioni.</p>
                <a href="Identity/Account/Manage" class="btn btn-primary">Account</a>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="~/profilo.jpg" class="card-img-top" alt="Profilo utente">
            <div class="card-body">
                <h5 class="card-title">Impostazioni account</h5>
                <p class="card-text">Accedi alle informazioni del tuo account per modificarne le impostazioni.</p>
                <a href="Identity/Account/Manage" class="btn btn-primary">Account</a>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="~/profilo.jpg" class="card-img-top" alt="Profilo utente">
            <div class="card-body">
                <h5 class="card-title">Impostazioni account</h5>
                <p class="card-text">Accedi alle informazioni del tuo account per modificarne le impostazioni.</p>
                <a href="Identity/Account/Manage" class="btn btn-primary">Account</a>
            </div>
        </div>
    </div>
</div>