<div class="jumbotron">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 login-form-1">
            <p align="center"><em>Ciao @User.FindFirst("FullName").Value</em></p>
            <p align="center">Usa il menù in alto per utilizzare tutte le funzionalità di KampuStudio Versione Proto</p>
            <p align="center">Buon lavoro!</p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
