<div class="jumbotron">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 login-form-1">
                <h3>@ViewBag.Titolo</h3>
                <h5>Effettua il login</h5>
                <form asp-controller="Comuni" asp-action="Index" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Userid *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd">Hai dimenticato la password?</a>
                    </div>
                </form>
            </div>
        <div class="col-md-4"></div>
    </div>
</div>