<h1>@ViewBag.Title</h1>
<p>Ci scusiamo, si è verificato un errore.</p>
<p>Controlla di non aver manomesso l'indirizzo della pagina nel tuo browser, altrimenti contatta l'assistenza.</p>
<a class="btn btn-outline-primary" onClick="history.go(-1);return true;"><i class="fas fa-chevron-left"></i> Torna indietro</a>