html, body {
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}
body>.container {
    flex: 1;
}
body>footer {
    background-color: #f5f5f5;
}
h1 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-weight: 200;
}

hr {
    margin:0.5em 0;
}

author {
    font-style: italic;
    color: #888;
}

footer {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    padding-bottom: 2em;
    text-align: center;
    color: gray;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.jumbotron {
    background-image: url('/02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1 {
    font-size: 3.5em;
}

.jumbotron p {
    margin-bottom: 0;
    margin-top: 0;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 3%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-1 h5{
    text-align: center;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.dropdown .piatto-dx{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 150px;
}

@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}