@model AziendaModifyEmailPecAziendaInputModel
<h1>Azienda concessionaria</h1>
<div class="row">
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label asp-for="EmailAzienda"></label>
                            <input type="text" asp-for="EmailAzienda" class="form-control form-control-lg" placeholder="Email">
                            <span asp-validation-for="EmailAzienda"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label asp-for="PecAzienda"></label>
                            <input type="text" asp-for="PecAzienda" class="form-control form-control-lg" placeholder="Pec">
                            <span asp-validation-for="PecAzienda"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Modifica email e pec</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



